{% extends 'flatpages/default.html' %}
{% block title %}
Comments
{% endblock title %}

{% block content %}
   <h1>Отклики на мои объявления</h1>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if comments %}
           {% for comment in comments %}
           <li>
               Дата - {{ comment.time_in|date:'d M Y' }},
               <a href="{% url 'one_comment' comment.id %}">{{ comment.comment_post.title }}</a>,
               {{ comment.text }}

           </li>
           {% endfor %}
   {% else %}
       <h2>Откликов нет!</h2>
   {% endif %}



   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}